<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="sanju">
    <listeners>

        <listener class-name="commons.Driver"/>

    </listeners>


    <test name="TestCase">


        <classes>

<!--                      <class name="TestScript.InvalidloginTest"/>-->

<!--                      <class name="TestScript.SearchTestScript"/>-->

<!--                       <class name="TestScript.RemoveFromCartTestScript"/>-->

                     <class name="TestScript.ValidPincodeTestScript"/>

<!--                        <class name="TestScript.InvalidPincodeTestScript"/>-->

<!--                     <class name="TestScript.SortPriceHightoLowTestScript"/>-->

<!--                       <class name="TestScript.NaviToPrdtDetailPageTest"/>-->

<!--                     <class name="TestScript.SaveForLaterTest"/>-->

<!--            <class name="TestScript.AddCartTestScript"/>-->
<!--                        <class name="TestScript.NaviToHomePageTest"/>-->


        </classes>

    </test>

</suite>